
  @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  text-decoration: none;
  outline:none;
  border:none;
}
.genericError {
  font-size: 0.75rem;
  color: #ff0000;
  display: inline;
  margin:0.5rem;
}
.genericSuccess {
  font-size: 0.75rem;
  color: #008000;
  display: inline;
  margin:0.5rem;
}